:root{
--bg1: #0f172a;
  --accent1: #ec4899; /* rosa */
  --accent2: #f59e0b; /* dorado */
--card: rgba(255,255,255,0.05);
--text: #fdf4ff;
--muted: #fbcfe8;
--radius: 14px;
}
 *{box-sizing:border-box}
body{margin:0;font-family:'Poppins',sans-serif;background:linear-gradient(180deg,var(--bg1) 0%, #1e1b4b 100%);color:var(--text)}
.container{max-width:1000px;margin:auto;padding:20px}
header{text-align:center;padding:30px 10px}
header h1{font-size:40px;background:linear-gradient(90deg,var(--accent1),var(--accent2));-webkit-background-clip:text;-webkit-text-fill-color:transparent;margin:0}
header p{color:var(--muted);font-size:18px;margin-top:8px}
.hero{display:flex;flex-direction:column;align-items:center;gap:100px}
.hero img{width:400px;height:400px;object-fit:cover;border-radius:70%;border:6px solid var(--accent1);box-shadow:0 8px 200px rgba(32,32,32,32.6)}
.card{background:var(--card);padding:20px;border-radius:var(--radius);margin-top:20px;text-align:center;backdrop-filter:blur(6px)}
.card h2{margin-top:0;color:var(--accent2)}
.card p{color:var(--muted);line-height:1.6}
.gallery{display:grid;grid-template-columns:repeat(auto-fit,minmax(240px,1fr));gap:10px;margin-top:20px}
.gallery img{width:100%;height:500px;object-fit:cover;border-radius:var(--radius)}
footer{text-align:center;margin-top:30px;color:var(--muted);font-size:20px}
@media(max-width:600px){
header h1{font-size:32px}
.hero img{width:200px;height:200px}
}

img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.card :hover{
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
}
